@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@300&display=swap");


@keyframes rotate{
  0%{
      transform: rotate(0deg);
  }
  50%{
      transform: rotate(180deg);
  }
  100%{
      transform: rotate(360deg);
  }
}



:root {
    --primary : rgb(181, 2, 2);
  }

body {
  font-family: "Baloo Bhai";
  color: white;
  margin: 0px;
  padding: 0px;
}
.firstSection {
  background: url("../assets/bike.jpg");
  height: 900px;
}

.left {
  display: inline-block;
  width: 150px;
  display: flex;
  flex-direction: column;
}
.left>img {
  align-self: center;
  width: 88px;
}
.left>img:hover{
  animation: rotate 1s linear;

}
.left div {
  line-height: 17px;
  font-size: 17px;
  text-align: center;
  color: #000;
}

.navbar {
  height: 100px;
  background-color: rgba(255, 0, 0, 0.216);
  display: flex;
}

.center {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-self: center;
  align-self: center;
  margin: 0px auto;
}

.right {
 display: flex;
 justify-content: center;
 align-items: center;
}
.list {
  display: inline-block;
}
.list li {
  display: inline-block;
  font-size: 25px;
}
.list li a {
  color: black;
  text-decoration: none;
  padding: 0px 23px;
}
.list li a:hover {
  color: var(--primary)
}
.btn {
  font-family: "Baloo Bhai";
  margin: 0px 9px;
  padding: 4px 14px;
  background-color: black;
  color: white;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(43, 41, 41);
}
.container {
  width: 747px;
  font-size: 13px;
  padding: 210px 50px 0px 50px;
}
.container > h2:hover {
  color: white;
  font-size: 20px;
  transition: all;
}
.container h1 {
  font-family: "Poppins", sans-serif;
}
.container h2 {
  color: grey;
  line-height: 34px;
  word-spacing: 4px;
  font-family: "Roboto", sans-serif;
}
.getStarted {
  font-size: 26px;
  background-color: var(--primary);
  color: white;
  border-radius: 14px;
  padding: 7px 14px;
  transition: background-color 1s ease-out;
}
.getStarted:hover {
  background-color: red;
}
