@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@300&display=swap");


@keyframes rotate{
  0%{
      transform: rotate(0deg);
  }
  50%{
      transform: rotate(180deg);
  }
  100%{
      transform: rotate(360deg);
  }
}



:root {
    --primary : rgb(181, 2, 2);
  }

body {
  font-family: "Baloo Bhai";
  color: white;
  margin: 0px;
  padding: 0px;
}
.firstSection {
  background: url("bike.jpg");
  height: 900px;
}

.left {
  display: inline-block;
  width: 150px;
  display: flex;
  flex-direction: column;
}
.left>img {
  align-self: center;
  width: 88px;
}
.left>img:hover{
  animation: rotate 1s linear;

}
.left div {
  line-height: 17px;
  font-size: 17px;
  text-align: center;
  color: #000;
}

.navbar {
  height: 100px;
  background-color: rgba(255, 0, 0, 0.216);
  display: flex;
}

.center {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-self: center;
  align-self: center;
  margin: 0px auto;
}

.right {
 display: flex;
 justify-content: center;
 align-items: center;
}
.list {
  display: inline-block;
}
.list li {
  display: inline-block;
  font-size: 25px;
}
.list li a {
  color: black;
  text-decoration: none;
  padding: 0px 23px;
}
.list li a:hover {
  color: var(--primary)
}
.btn {
  font-family: "Baloo Bhai";
  margin: 0px 9px;
  padding: 4px 14px;
  background-color: black;
  color: white;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(43, 41, 41);
}
.container {
  width: 747px;
  font-size: 13px;
  padding: 210px 50px 0px 50px;
}
.container > h2:hover {
  color: white;
  font-size: 20px;
  transition: all;
}
.container h1 {
  font-family: "Poppins", sans-serif;
}
.container h2 {
  color: grey;
  line-height: 34px;
  word-spacing: 4px;
  font-family: "Roboto", sans-serif;
}
.getStarted {
  font-size: 26px;
  background-color: var(--primary);
  color: white;
  border-radius: 14px;
  padding: 7px 14px;
  transition: background-color 1s ease-out;
  position: relative;
  height: 50px;
  width: 200px;
}

.getStarted::before {
  content: "";
  width: 0px;
  height:50px;
  position:absolute;
  left: -2px;
  top: -2px;
  border-radius: 14px;
  visibility: hidden;
}

.getStarted:hover::before {
    width: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    transition-duration: .5s;
    visibility:visible; 
    cursor: pointer;
}

.section2{
  background-color: rgba(128, 128, 128, 0.193);
  padding: 100px 0px;
  color: black;
  display: flex;
  justify-content: space-evenly ;
}
.section2Left{
  border-radius: 20px;
  background-color: white;
  flex-wrap: wrap;
  padding: 14px 63px;
  justify-content: center;
  display: flex;
  width: 20%;
  border: 2px solid red;
}
.section2Right{
  border-radius: 20px;
  background-color: white;
  flex-wrap: wrap;
  padding: 14px 63px;
  justify-content: center;
  display: flex;
  width: 20%;
  border: 2px solid green;
}
.imageAndText>img{
    width: 144px;
  height: 124px;
  background-color: rgba(137, 43, 226, 0.479);
}
.imageAndText{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imageAndText:hover{
  color: var(--primary) 
}







